body {
  background:black;
  color:white;
  font-family:sans-serif;
  font-size:2.5vmin;
  max-width:100vh;
  margin:auto;
  padding:2%;
  color:goldenrod;
  text-align:center;
}

.c, .n, .l, .s  {
  display:inline-block;
  margin:3vmin 0 0 0;
  width:calc(100%/3);
}

.c {
  width:calc(100%/6);
  margin:0;
}

.v {
  border-radius:1px;
  display:inline-block;
  width:100%;
  padding: 0;
  text-align:center;
  box-sizing: border-box;
  background:black;
  color:silver;
  font-size:7vmin;
}

.v[type="color"] {
  height:12vmin;
  width:100%;
  border:none;
  padding:0.75vmin;
}

.r,.a {
  border-radius:2svmin;
  background:goldenrod;
  color:white;
  font-size:3vmin;
  width:30%;
  padding:2vmin;
  margin:4vmin 1vmin 0 1vmin;
}

.r {
  background:#000000;
}

.a {
  margin:1vmin;
  background:goldenrod;
}

.l {
  width:calc(100% / 8);
  margin-top:15px
}

.x {
  margin:0;
  width:100%;
  aspect-ratio:2.15;
}

.v, .o, .r, .a, .h {
  border:0.1vmin solid #303030;
}

.o {
  padding:0.5vmin;
  font-size:4vmin;
  width:calc(100% - 2svmin);
  background:black;
  color:white;
}

.h {
  padding:2vmin;
  margin:0 0 2svmin 0;
}